#j2menu .j2right{
    width: 190px;
    margin-top: -45px;
    margin-left: -190px;
}
#j2menu .j2left{
    width: 190px;
    margin-top: -45px;
    margin-left: 158px;
}
.j2submenu-list:hover {
    display: block;
}